#content  {
	float: center;
	background-image: url(images/bg_help.png);
	width: 480px;
	height: 320px;
}
#inner{
	padding-top: 90px;
	padding-right: 20px;
	float: right;
	width: 320px;
	height: 300px;
	font-family: Comic Sans MC, comic sans mc, sans-serif;;
}